<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.delicious"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.delicious.Self_class.Controls"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.delicious.Order_List.Order_list"></activity>
        <activity android:name="com.example.delicious.Home.Loading" />
        <activity android:name="com.example.delicious.Sign_In.Forgetpage" />
        <activity android:name="com.example.delicious.History.Order_history" />
        <activity android:name="com.example.delicious.Myorder.Myorder" />
        <activity android:name="com.example.delicious.Restaurant_2.Restaurant2" />
        <activity android:name="com.example.delicious.ui.common.SearchPage" />
        <activity android:name="com.example.delicious.Cart.Generate_Order" />
        <activity android:name="com.example.delicious.Check.Check" />
        <activity android:name="com.example.delicious.Cart.Cart" />
        <activity android:name="com.example.delicious.Restaurant_1.Restaurant1" />
        <activity android:name="com.example.delicious.Homepage" />
        <activity android:name="com.example.delicious.Signout.Logout3" />
        <activity android:name="com.example.delicious.Signout.Logout2" />
        <activity android:name="com.example.delicious.Signout.Logout1" />
        <activity android:name="com.example.delicious.Sign_In.Registerpag" />
        <activity android:name="com.example.delicious.Sign_In.Loginpag" />
        <activity
            android:name="com.example.delicious.Sign_In.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>