<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.delicious"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Self_class.Controls"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Find_page"></activity>
        <activity android:name=".Activities.Order_list_page" />
        <activity android:name=".Activities.Loading_page" />
        <activity android:name=".Activities.Forget_password_page" />
        <activity android:name=".Activities.Order_history_page" />
        <activity android:name=".Activities.Order_page" />
        <activity android:name=".Activities.Restaurant_page" />
        <activity android:name=".Activities.Search_Page" />
        <activity android:name=".Activities.Generate_order_page" />
        <activity android:name=".Check.Check" />
        <activity android:name=".Activities.MyCart_page" />
        <activity android:name=".Restaurant_1.Restaurant1" />
        <activity android:name=".Activities.Homepage" />
        <activity android:name=".Activities.Bye_page" />
        <activity android:name=".Activities.User_page" />
        <activity android:name=".Activities.Register_page" />
        <activity android:name=".Activities.Login_page" />
        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>